@import 'tailwindcss/theme.css';
@import 'tailwindcss/preflight.css';
@import 'tailwindcss/utilities.css';
@import 'nativewind/theme';

/* Platform font families */
:root {
  --font-sans:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;
}

@media ios {
  :root {
    --font-sans: system-ui;
    --font-serif: ui-serif;
    --font-rounded: ui-rounded;
    --font-mono: ui-monospace;
  }
}

@media android {
  :root {
    --font-sans: normal;
    --font-serif: serif;
    --font-rounded: normal;
    --font-mono: monospace;
  }
}

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-rounded: var(--font-rounded);
  --font-mono: var(--font-mono);

  --color-text: #000000;
  --color-background: #ffffff;
  --color-backgroundElement: #f0f0f3;
  --color-backgroundSelected: #e0e1e6;
  --color-textSecondary: #60646c;
  --color-link: #3c87f7;

  --spacing-half: 2px;
  --spacing-one: 4px;
  --spacing-two: 8px;
  --spacing-three: 16px;
  --spacing-four: 24px;
  --spacing-five: 32px;
  --spacing-six: 64px;
}

@variant dark {
  :root {
    --color-text: #ffffff;
    --color-background: #000000;
    --color-backgroundElement: #212225;
    --color-backgroundSelected: #2e3135;
    --color-textSecondary: #b0b4ba;
    --color-link: #3c87f7;
  }
}
