# Local port for Node dev server (default: 3000)
PORT=3000

# Postgres local database URL
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# CORS Allowed Origin
ALLOWED_ORIGIN=http://localhost:8081
